Repository adobe/spectrum-css, pull requests merged in 2019-12, with the labels that each got.

#414 docs: update DNA token update documentation (SDS-4424) #388
  README.md
  components/vars/README.md
Labels: documentation

#421 docs: restore wrapping/truncation studies
  site/truncation.pug
  site/wrapping.pug
Labels: documentation

#437 fix: text wrapping in Meter/BarLoader, fixes #420
  components/barloader/index.css
Labels: Component: Bar Loader

#441 fix: use endash for Date range picker, fixes #440
  components/inputgroup/index.css
Labels: Component: Date Picker

#439 fix: remove transition from dates in calendar, fixes #438
  components/calendar/index.css
Labels: Component: Calendar

#431 fix: fix button width in InputGroup, fix DatePicker example, fixes #399
  components/inputgroup/index.css
  components/inputgroup/metadata/datepicker.yml
Labels: Component: Date Picker

#412 fix: top margin for switch, checkbox & radio button
  components/checkbox/index.css
  components/radio/index.css
  components/toggle/index.css
Labels: Component: Checkbox, Component: Radio Button, Component: Switch, RSPV3 Design Review, bug, ready for review

#432 fix: implement local tokens for Well, fixes #422
  components/well/index.css
Labels: Component: Well

#429 fix: correct Search icon color on hover/down/focus, fixes #409
  components/search/index.css
  components/search/skin.css
Labels: Component: Search

#436 fix: vertical alignment of Status Light text, fixes #426
  components/statuslight/index.css
Labels: Component: Status Light

#433 build: add vars as a peerDep, fixes #413
  tools/component-builder/package.json
Labels: build

#446 fix: disable resize functionality when disabled, fixes #443
  components/textfield/index.css
Labels: Component: Text Area

#447 fix: make quiet Text area 1 line tall by default, fixes #442
  components/textfield/index.css
Labels: Component: Text Area

#452 fix: wrapping on long words indropdowns (SDS-4649) #451
  components/menu/index.css
Labels: Component: Dropdown, ready for review
