Repository adobe/spectrum-css, pull requests merged in 2020-04, with the labels that each got.

#645 fix: make SearchWithin use new Textfield markup
  components/searchwithin/index.css
  components/searchwithin/metadata/searchwithin.yml
Labels: Component: Search, documentation

#642 fix: fix the broken examples introduced by textfield refactor
  components/pagination/index.css
  components/pagination/metadata/pagination-explicit.yml
  site/truncation.pug
  site/wrapping.pug
Labels: Component: Pagination, documentation

#651 feat: breadcrum component change for rsp@v3
  components/breadcrumb/index.css
  components/breadcrumb/metadata/breadcrumb.yml
  components/breadcrumb/skin.css
Labels: Component: Breadcrumbs, breaking change

#650 feat: link component change for rsp@v3
  components/link/index.css
  components/link/metadata/link.yml
  components/link/skin.css
Labels: Component: Link, breaking change

#649 Button Breaking Changes
  backstop_data/backstop_scenarios.json
  backstop_data/packageDependentMap.json
  components/actiongroup/.npmignore
  components/actiongroup/CHANGELOG.md
  components/actiongroup/README.md
  components/actiongroup/gulpfile.js
  components/actiongroup/index.css
  components/actiongroup/metadata/actiongroup.yml
  components/actiongroup/package.json
  components/button/index.css
  components/button/metadata/actionbutton.yml
  components/button/metadata/tool.yml
  components/button/skin.css
  components/buttongroup/index.css
  components/buttongroup/metadata/buttongroup.yml
Labels: Component: Button, Component: ButtonGroup
