Repository adobe/spectrum-css, pull requests merged in 2020-03, with the labels that each got.

#537 feat: Refactor Textfield to be a container with separate icon and input
  components/decoratedtextfield/.npmignore
  components/decoratedtextfield/CHANGELOG.md
  components/decoratedtextfield/README.md
  components/decoratedtextfield/gulpfile.js
  components/decoratedtextfield/index.css
  components/decoratedtextfield/metadata/decoratedtextfield.yml
  components/decoratedtextfield/package.json
  components/fieldlabel/metadata/fieldlabel.yml
  components/fieldlabel/metadata/form.yml
  components/inputgroup/index.css
  components/inputgroup/metadata/combobox.yml
  components/inputgroup/metadata/datepicker.yml
  components/inputgroup/skin.css
  components/search/metadata/search.yml
  components/stepper/index.css
  components/stepper/metadata/stepper.yml
  components/stepper/skin.css
  components/textfield/index.css
  components/textfield/metadata/textarea.yml
  components/textfield/metadata/textfield.yml
  components/textfield/skin.css
  site/resources/js/Search.js
  site/resources/js/enhancement.js
  site/resources/js/site.js
  site/truncation.pug
  site/wrapping.pug
  tools/bundle-builder/docs/index.js
Labels: breaking change

#603 feat: halo focus ring
  components/button/index.css
  components/button/skin.css
  components/checkbox/index.css
  components/checkbox/skin.css
  components/radio/index.css
  components/radio/skin.css
  components/slider/index.css
  components/slider/skin.css
  components/toggle/index.css
  components/toggle/skin.css
  components/vars/css/components/spectrum-button.css
  components/vars/css/components/spectrum-checkbox.css
  components/vars/css/components/spectrum-radio.css
  components/vars/css/components/spectrum-switch.css
  components/vars/css/components/spectrum-well.css
  components/vars/css/globals/spectrum-colorAliases.css
  components/vars/css/globals/spectrum-staticAliases.css
  components/vars/json/spectrum-metadata.json
  site/halo-focus.pug
  site/resources/img/art_bk.jpg
  site/resources/img/tablet-bk
  site/templates/halo-focus.pug
Labels: Component: Button, Component: Checkbox, Component: Radio Button, Component: Switch, enhancement

#601 feat: add Treeview heading (via RSP V3)
  components/treeview/index.css
  components/treeview/metadata/treeview.yml
Labels: Component: Treeview
