Repository adobe/spectrum-css, pull requests merged in 2020-07, with the labels that each got.

#540 refactor: rename dropdown to picker
  components/dropdown/index.css
  components/dropdown/skin.css
  components/fieldlabel/metadata/form.yml
  components/fieldlabel/package.json
  components/picker/.npmignore
  components/picker/CHANGELOG.md
  components/picker/README.md
  components/picker/embed/Down-Chevron.svg
  components/picker/gulpfile.js
  components/picker/index.css
  components/picker/metadata/picker.yml
  components/picker/package.json
  components/picker/skin.css
  components/searchwithin/metadata/searchwithin.yml
  components/searchwithin/package.json
  components/tabs/metadata/tabs.yml
  components/tabs/package.json
  package.json
  yarn.lock
Labels: breaking change

#777 fix: actionButton focus-ring active state visual issue #755
  components/button/skin.css
Labels: Component: Action Button, bug

#775 fix: actiongroup wrapping, fixes #749
  components/actiongroup/index.css
Labels: Component: Action Button, bug, testing
