Repository adobe/spectrum-css, pull requests merged in 2020-09, with the labels that each got.

#888 Spectrum tokens 17 for Action Bar
  components/actionbar/index.css
  components/actionbar/metadata/actionbar.yml
  components/actionbar/package.json
  yarn.lock
Labels: Component: Action Bar

#904 Spectrum tokens 17 avatar
  components/avatar/index.css
  components/tags/metadata/tags.yml
Labels: Component: Avatar, Component: Tag

#902 Spectrum tokens 17 card
  components/card/index.css
  components/card/metadata/card-asset.yml
  components/card/metadata/card-gallery.yml
  components/card/metadata/card.yml
  components/card/package.json
  components/card/skin.css
Labels: Component: Card

#903 Spectrum tokens 17 - Pagination
  components/pagination/skin.css
Labels: Component: Pagination, blocked

#923 fix: ramp slider (#829)
  components/slider/index.css
  components/slider/metadata/slider.yml
  components/slider/skin.css
Labels: Component: Color Slider, Component: Slider, breaking change

#897 fix: Checkbox and Radio margins, docs, and typography
  components/checkbox/index.css
  components/checkbox/metadata/checkbox.yml
  components/fieldgroup/index.css
  components/fieldgroup/metadata/fieldgroup.yml
  components/fieldlabel/metadata/form.yml
  components/fieldlabel/package.json
  components/radio/index.css
  components/radio/metadata/radio.yml
  components/radio/skin.css
  components/site/index.css
Labels: Component: Checkbox, Component: Radio Button

#961 Spectrum tokens 17 - Textfield Textarea
  components/textfield/index.css
  components/textfield/metadata/textfield.yml
Labels: Component: Text Area, Component: Text Field

#896 Fix side nav item with long text cutting off icon
  components/sidenav/index.css
Labels: Component: Sidenav

#999 docs: add migration guides and Spectrum site links, correct casing
  components/progressbar/metadata/progressbar.yml
  components/progresscircle/metadata/progresscircle.yml
  components/slider/metadata/slider.yml
  components/switch/metadata/switch.yml
  components/tray/metadata/tray.yml
Labels: documentation

#969 Try to make the slider value label less jumpy
  components/slider/index.css
Labels: Component: Slider

#967 Slider: remove cursor: pointer and reenable active style
  components/slider/index.css
  site/resources/js/enhancement.js
Labels: Component: Slider, size-2 S
