Repository adobe/spectrum-css, pull requests merged in 2022-10, with the labels that each got.

#1514 refactor(buttongroup)!: migrate to core tokens
  components/buttongroup/gulpfile.js
  components/buttongroup/index.css
  components/buttongroup/metadata/buttongroup.yml
  components/buttongroup/package.json
  components/buttongroup/themes/express.css
  components/buttongroup/themes/spectrum.css
  yarn.lock
Labels: released-beta, pending-swc-validation

#1465 feat(checkbox)!: migrate checkbox component to core tokens (CSS-99)
  components/checkbox/gulpfile.js
  components/checkbox/index.css
  components/checkbox/metadata/checkbox.yml
  components/checkbox/package.json
  components/checkbox/skin.css
  components/checkbox/themes/express.css
  components/checkbox/themes/spectrum.css
  yarn.lock
Labels: released-beta, pending-swc-validation

#1488 Lunarfusion/css 117 progress circle core tokens
  components/progresscircle/gulpfile.js
  components/progresscircle/index.css
  components/progresscircle/metadata/progresscircle.yml
  components/progresscircle/package.json
  components/progresscircle/skin.css
  components/progresscircle/themes/express.css
  components/progresscircle/themes/spectrum.css
Labels: Component: Progress Circle, released-beta, pending-swc-validation

#1513 fix(tabs): selection indicator scroll overflow border
  components/tabs/index.css
  components/tabs/skin.css
Labels: hacktoberfest-accepted

#1501 feat(swatch)!: migrate swatch to core tokens
  components/swatch/gulpfile.js
  components/swatch/index.css
  components/swatch/metadata/swatch.yml
  components/swatch/package.json
  components/swatch/themes/express.css
  components/swatch/themes/spectrum.css
  yarn.lock
Labels: hacktoberfest-accepted, released-beta, Component: Swatch, pending-swc-validation

#1505 feat(swatchgroup)!: migrate swatchgroup to core tokens
  components/swatchgroup/gulpfile.js
  components/swatchgroup/index.css
  components/swatchgroup/package.json
  components/swatchgroup/themes/express.css
  components/swatchgroup/themes/spectrum.css
  yarn.lock
Labels: hacktoberfest-accepted, released-beta, Component: Swatch Group

#1476 feat(fieldlabel)!: core-tokens implementation (CSS-102)
  components/fieldlabel/gulpfile.js
  components/fieldlabel/index.css
  components/fieldlabel/package.json
  components/fieldlabel/themes/express.css
  components/fieldlabel/themes/spectrum.css
  yarn.lock
Labels: Component: Field Label, hacktoberfest-accepted, released-beta, pending-swc-validation

#1519 refactor(inlinealert)!: migrate core tokens
  components/inlinealert/gulpfile.js
  components/inlinealert/index.css
  components/inlinealert/metadata/inlinealert.yml
  components/inlinealert/package.json
  components/inlinealert/skin.css
  components/inlinealert/themes/express.css
  components/inlinealert/themes/spectrum.css
  yarn.lock
Labels: hacktoberfest-accepted, released-beta, pending-swc-validation

#1494 Lunarfusion/css 122 badge migration to core tokens
  components/badge/gulpfile.js
  components/badge/index.css
  components/badge/metadata/badge.yml
  components/badge/package.json
  components/badge/skin.css
  components/badge/themes/express.css
  components/badge/themes/spectrum.css
  yarn.lock
Labels: Component: Badge, hacktoberfest-accepted, released-beta
