Repository adobe/spectrum-css, pull requests merged in 2022-09, with the labels that each got.

#1496 feat(switch)!: migrating switch to core-tokens (CSS-42, CSS-100)
  components/site/index.css
  components/switch/gulpfile.js
  components/switch/index.css
  components/switch/metadata/switch.yml
  components/switch/package.json
  components/switch/skin.css
  components/switch/themes/express.css
  components/switch/themes/spectrum.css
  components/tokens/custom-spectrum/custom-vars.css
  yarn.lock
Labels: Component: Switch, released-beta

#1492 feat(actiongroup)!: migrate to core tokens
  components/actiongroup/gulpfile.js
  components/actiongroup/index.css
  components/actiongroup/metadata/actiongroup.yml
  components/actiongroup/package.json
  components/actiongroup/themes/express.css
  components/actiongroup/themes/spectrum.css
  yarn.lock
Labels: Component: Action Group, released-beta, pending-swc-validation

#1483 feat(toast)!: migrate toast to core tokens
  components/toast/gulpfile.js
  components/toast/index.css
  components/toast/metadata/toast.yml
  components/toast/package.json
  components/toast/skin.css
  components/toast/themes/express.css
  components/toast/themes/spectrum.css
Labels: Component: Toast, released-beta, pending-swc-validation
