Repository adobe/spectrum-css, pull requests merged in 2022-11, with the labels that each got.

#1512 refactor(actionbar)!: migrate to core tokens
  components/actionbar/gulpfile.js
  components/actionbar/index.css
  components/actionbar/metadata/actionbar.yml
  components/actionbar/package.json
  components/actionbar/themes/express.css
  components/actionbar/themes/spectrum.css
Labels: hacktoberfest-accepted, released-beta, pending-swc-validation

#1486 Lunarfusion/css 107 field group core tokens
  components/fieldgroup/gulpfile.js
  components/fieldgroup/index.css
  components/fieldgroup/metadata/fieldgroup.yml
  components/fieldgroup/package.json
  components/fieldgroup/themes/express.css
  components/fieldgroup/themes/spectrum.css
  components/radio/metadata/radio.yml
  yarn.lock
Labels: Component: Field Group, released-beta

#1493 feat(progressbar, meter)!: migrate progressbar to core tokens
  components/progressbar/gulpfile.js
  components/progressbar/index.css
  components/progressbar/metadata/meter.yml
  components/progressbar/metadata/progressbar.yml
  components/progressbar/package.json
  components/progressbar/skin.css
  components/progressbar/themes/express.css
  components/progressbar/themes/spectrum.css
  yarn.lock
Labels: Component: Progess Bar, released-beta

#1550 feat: minor color token change for accent color (CSS-246)
  components/progresscircle/index.css
Labels: Component: Progress Circle
